<p style="color: green"><%= notice %></p>

<%= render @invoice %>

<div>
  <%= link_to "Send to more emails", edit_invoice_path(@invoice) %> |
  <%= link_to "Back to invoices", invoices_path %>
</div>
<%= link_to "Download", download_invoice_path(@invoice), download: 'invoice.pdf' %>
