<div class="home container mt-4">

  <p style="color: green"><%= notice %></p>

  <%= render @invoice %>

  <div>
    <% if current_user %>
      <%= link_to "Send to more emails", edit_invoice_path(@invoice) %> |
    <% end %>
    <%= link_to "Download", download_invoice_path(@invoice), download: 'invoice.pdf' %>
  </div>

  <%= link_to "<< Back to invoices", invoices_path %>

</div>
