<!DOCTYPE html>
<html>
  <head>
    <title>HuskyChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Invoice Generator</a>
        <div class="d-flex align-items-center justify-content-end">
          <% if session[:current_user_token] %>
            <%= button_to('Log Out', sessions_path, method: :delete, class: 'btn btn-outline-danger') %>
          <% else %>
            <%= link_to 'New Token', new_token_path, class: 'btn btn-success me-3' %>
            <%= link_to 'Login', new_sessions_path, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </nav>
    
    <%= yield %>
  </body>
</html>
